<div ng-include="'views/menu.html'"></div>


<div class="searchQCMContainer contenuOnline" ng-init="search()">

<!--FILTER SEARCH CONTAINER-->
    <div class="searchQCMFilters">
        <!-- NAME FILTER-->
        <div>
            <label for="nameFilter">Nom :</label>
            <input type="text" name="nameFilter" id="nameFilter" ng-model="nameFilter">
        </div>
        <!-- CATEGORY FILTER-->
        <div>
            <label for="categoryFilter">Catégorie :</label>
            <select class="" id="categoryFilter" ng-model="categoryFilter"
                    ng-options="category for category in categories" name="categoryFilter">
                <option value=""></option>
            </select>
        </div>
        <!-- THEME FILTER-->
        <div>
            <label for="themeFilter">Thème :</label>
            <select class="" id="themeFilter" ng-change="onThemeSelect(themeFilter)" ng-model="themeFilter"
                    ng-options="theme.label for theme in themes" name="themeFilter">
                <option value=""></option>
            </select>
        </div>
        <!-- SUB-THEME FILTER-->
        <div>
            <label for="subthemeFilter">Sous-thème :</label>
            <select class="" id="subthemeFilter" ng-model="subthemeFilter"
                    ng-options="subtheme.label for subtheme in subthemes" name="subthemeFilter">
                <option value=""></option>
            </select>
        </div>
        <!-- MAX PRICE FILTER-->
        <div class="searchQCMFiltersLongLabel">
            <label  for="maxPriceFilter">Prix maximum :</label>
            <input type="number" name="maxPriceFilter" id="maxPriceFilter" ng-model="maxPriceFilter">
        </div>
        <!-- HAS GIFT FILTER-->
        <div class="searchQCMFiltersLongLabel">
            <label class="searchQCMFiltersLongLabel" for="hasGiftFilter">Cadeau à gagner</label>
            <input type="checkbox" id="hasGiftFilter"  ng-model="hasGiftFilter">
        </div>
        <button ng-click="search()">Rechercher</button>
        <button ng-click="clearForm()">Effacer</button>
    </div>

<!--RESULT CONTAINER-->
<div class="QCMresultContainer">
    <div ng-repeat="qcm in result" class="searchQCMRow">
        <a href="#qcm/presentationQCM/{{qcm.id}}">
            <span class="searchQCMIconContainer" ng-if="qcm.icon == null">
                <img class="searchQCMIcon" ng-src="images/defaultPicture.png"/>
            </span>
            <span class="searchQCMIconContainer" ng-if="qcm.icon != null">
                <img class="searchQCMIcon" ng-src="{{'data:image/*;base64,'+qcm.icon}}"/>
            </span>

            <span class="searchQCMName">
                            {{qcm.name}}
            </span>

            <span class="searchQCMCategory" ng-if="qcm.category==='sommatif'">
              QCM pour apprendre
            </span>
            <span class="searchQCMCategory" ng-if="qcm.category==='formatif'">
              QCM pour se tester
            </span>
             <span class="searchQCMPrice" ng-if="qcm.free===true">
              Gratuit
            </span>
            <span class="searchQCMPrice" ng-if="qcm.free===false">
              Prix : {{qcm.price}}
            </span>
            <span class="searchQCMTheme">
                {{qcm.themeName}} >
                <em ng-repeat="subtheme in qcm.subThemes">
                    {{subtheme.label}}
                </em>
            </span>
            <span ng-if="qcm.prizeName!==null" class="searchQCMGift">
                Cadeau à gagner
            </span>
            <span ng-if="qcm.prizeName===null" class="searchQCMGift">
                Pas de cadeau
            </span>
        </a>
    </div>

</div>

<span us-spinner spinner-key="spinner-1"></span>
</div>
</div>