<div ng-include="'views/menu.html'"></div>
<div ng-controller= "statCtrl" ng-init="getStat()">

    <div class="container"  style="padding-top: 60px;">
        <div class="row">
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading dark-blue"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content dark-blue">
                        <div class="circle-tile-description text-faded"> QCM joué(s)</div>
                        <div class="circle-tile-number text-faded ">{{total}}</div>
                    </div>
                </div>
            </div>

            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading green"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content green">
                        <div class="circle-tile-description text-faded"> QCM gagné(s) </div>
                        <div class="circle-tile-number text-faded ">{{gagne}}</div>
                    </div>
                </div>
            </div>
            <div class="col-lg-2 col-sm-6">
                <div class="circle-tile ">
                    <a href="#"><div class="circle-tile-heading red"><i class="fa fa-users fa-fw fa-3x"></i></div></a>
                    <div class="circle-tile-content red">
                        <div class="circle-tile-description text-faded"> QCM perdu(s) </div>
                        <div class="circle-tile-number text-faded ">{{total-gagne}}</div>

                    </div>
                </div>
            </div>
        </div>
        <div class="col col-md-9">
            <div class="row">
                <div class="col col-md-8">
                    <h4>Mes statistiques globales :</h4>
                    Moyenne des notes<span class="pull-right strong"></span>
                    <div class="progress">
                        <div class="progress-bar progress-bar-danger" role="progressbar" aria-valuenow="15"aria-valuemin="0" aria-valuemax="100" style="width:{{(moyenne*100)/20}}%">{{moyenne}}/20</div>
                    </div>

                    Nombre de commentaires publiés : {{commentNumber}} <span class="pull-right strong"></span>
                </div>
            </div>
        </div>
    </div>

</div>
</div>
</div>