.checkBoxVerte [type="checkbox"]:not(:checked),
.checkBoxVerte [type="checkbox"]:checked {
    position: absolute;
    left: -9999px;
}
.checkBoxVerte [type="checkbox"]:not(:checked) + label,
.checkBoxVerte [type="checkbox"]:checked + label {
    position: relative;
    padding-left: 75px;
    cursor: pointer;
}
.checkBoxVerte [type="checkbox"]:not(:checked) + label:before,
.checkBoxVerte [type="checkbox"]:checked + label:before,
.checkBoxVerte [type="checkbox"]:not(:checked) + label:after,
.checkBoxVerte [type="checkbox"]:checked + label:after {
    content: '';
    position: absolute;
}
.checkBoxVerte [type="checkbox"]:not(:checked) + label:before,
.checkBoxVerte [type="checkbox"]:checked + label:before {
    left:0; top: -3px;
    width: 65px; height: 30px;
    background: #DDDDDD;
    border-radius: 15px;
    transition: background-color .2s;
}
.checkBoxVerte [type="checkbox"]:not(:checked) + label:after,
.checkBoxVerte [type="checkbox"]:checked + label:after {
    width: 20px; height: 20px;
    transition: all .2s;
    border-radius: 50%;
    background: #7F8C9A;
    top: 2px; left: 5px;
}

/* on checked */
.checkBoxVerte [type="checkbox"]:checked + label:before {
    background:#34495E;
}
.checkBoxVerte [type="checkbox"]:checked + label:after {
    background: #48E590;
    top: 2px; left: 40px;
}

.checkBoxVerte [type="checkbox"]:checked + label .ui,
.checkBoxVerte [type="checkbox"]:not(:checked) + label .ui:before,
.checkBoxVerte [type="checkbox"]:checked + label .ui:after {
    position: absolute;
    left: 6px;
    width: 65px;
    border-radius: 15px;
    font-size: 14px;
    font-weight: bold;
    line-height: 22px;
    transition: all .2s;
}

.checkBoxVerte [type="checkbox"]:focus + label:before {
    border: 1px dashed #777;
    box-sizing: border-box;
    margin-top: -1px;
}