<div ng-include="'views/menu.html'"></div>

<div class="contenuInline" ng-controller="AddThemeCtrl">
    <form>
        <div>
            <label>Nom<input type="text" name="label" id="label" ng-model="label"
                             placeholder="Nom du thème"
                             ng-minlength="4" ng-maxlength="20" required></label>
        </div>
        <div>
            <label>Description<textarea type="text" name="description" id="description" ng-model="description"
                                        placeholder="Description"
                                        ng-minlength="4" ng-maxlength="20" required></textarea></label>
        </div>
        <div>
            <input type="file" ng-model="themeImage" accept="image/*" base-sixty-four-input>
        </div>
        <div>
            <button class="button" ng-click="postTheme()">Ajouter le thème</button>
        </div>
    </form>
</div>