<div class="offlineConteneur"  xmlns="http://www.w3.org/1999/xhtml">
    <div class="offlineHorsCol">
        <p>Oonoz, dépassez vous.</p>
    </div>
    <div class="offlineGauche">
        <p>Une application hors du commun</p>
        <p>Pour apprendre, s'amuser, partager et gagner de nombreux cadeaux</p>
        <p>Vous découvrez ici les quizz tels que vous ne les avez jamais vu.</p>
    </div>
    <div class="offlineDroite">
        <form name="loginForm" novalidate>
            <div class="debutForm">
                <div class="titre">Je me connecte</div>
            </div>
            <div class="ligneForm">
                <img class="imgForm" src="images/user.png">
                <input class="inputForm" placeholder="Username" type="text" name="username" ng-model="username" required>
            </div>
            <!--<span class="errorForm" ng-show="loginForm.$submitted">Le username n'est pas valide !</span>-->

            <div class="ligneForm">
                <img class="imgForm" src="images/locked.png">
                <input class="inputForm" placeholder="Mot de passe" type="password" name="password" ng-model="userPassword" required>
            </div>
            <!--<span class="errorForm" ng-show="loginForm.$submitted && !loginForm.password.$valid">Le mot de passe n'est pas valide !</span>-->
            <span class="errorForm" ng-show="authFailed">L'authentification n'est pas valide !</span>
            <div class="finForm">
                <input class="button" type="submit" ng-click="loginForm.$valid && authenticate()" value="Connexion" ng-disabled="!loginForm.$valid"/>
                <a href="#!/generatePassword">Mot de passe oublié ?</a>
                <a href="#!/signup">Pas de compte? Je m'inscris</a>
            </div>
        </form>
    </div>
</div>