<head>
    <meta charset="utf-8">
</head>
<div ng-app="oonozApp" xmlns="http://www.w3.org/1999/xhtml">
    <form name="loginForm" novalidate class="css-form">
        Username :
        <input type="text" name="username" ng-model="username" required>
        <span class="help-inline" ng-show="loginForm.$submitted">Le username n'est pas valide !</span>
        <br><br>
        Password :
        <input type="password" name="password" ng-model="userPassword" required>
        <span class="help-inline" ng-show="loginForm.$submitted && !loginForm.password.$valid">Le mot de passe n'est pas valide !</span>
        <br><br>
        <input class="button" type="submit" ng-click="loginForm.$valid && authenticate()" value="Connexion"><br><br>
        <a href="">Mot de passe oublié ?</a><br>
        Pas encore de compte ? </span><a href="#/signup">S'inscrire</a>
    </form>
</div>