<head>
    <meta charset="utf-8">
</head>
<div ng-app="oonozApp" xmlns="http://www.w3.org/1999/xhtml">
    <form name="loginForm" ng-submit="authenticate()">

        <fieldset class="form-group">
            <label for="username">Nom d'utilisateur :</label>
            <input type="text" name="username" id="username" ng-model="username"
                   placeholder="Nom d'utilisateur"
                   required>
            <span ng-show="loginForm.username.$error.required && loginForm.username.$dirty">Champ obligatoire</span>
        </fieldset>

        <br/>

        <fieldset class="form-group">
            <label for="password">Mot de passe :</label>
            <input type="password" name="password" id="password" ng-model="userPassword"
                   placeholder="Mot de passe"
                   required>
            <span ng-show="loginForm.password.$error.required && loginForm.password.$dirty">Champ obligatoire</span>
        </fieldset>

        <br/>

        <input class="button" type="submit" value="Connexion" ng-disabled="!loginForm.$valid"><br><br>
        <a href="">Mot de passe oublié ?</a><br>
        Pas encore de compte ? </span><a href="#/signup">S'inscrire</a>
    </form>
</div>