<div class="offlineConteneur" xmlns="http://www.w3.org/1999/xhtml">
        <a href="#/login">Retour</a>
        <form name="generatePasswordForm" >
            <div class="ligneMail">
                <input type="email" name="mail" ng-model="mail" required class="inputForm"
                       placeholder="Mon adresse mail"/>
            </div>
            <div id="generatePwdInstruction">Je saisis l'adresse email du compte pour lequel je souhaite un nouveau mot de passe</div>
            <br/>
            <button  ng-click="submit()" value="restaurer">Restaurer le mot de passe</button>
        </form>
</div>
