.ligneMail{
    display: block;
    margin-top: 8px;
    height:65px;
    max-width: 430px;
    //margin-left:auto;
    margin-right:auto;
    border:none;
}

#generatePwdInstruction{
    margin-left: 5%;
    color: #fff;
}

.offlineConteneur,button{
    margin-left: 5%;
}

