<div ng-include="'views/menu.html'"></div>

<div class="contenuOnline" ng-controller="AddSubThemeCtrl">
    <form name="addTform" class="addTform">
        <div class="addTtitle">Ajouter un nouveau sous-thème</div>

        <div>
            <label class="addTlabel">Nom</label>
            <input class="addTinput" type="text" name="label" id="label" ng-model="label"
                   placeholder="Nom du thème"
                   ng-minlength="3" ng-maxlength="20" required>
        </div>
        <span class="errorForm" ng-show="addTform.label.$error.required && addTform.label.$dirty">Champ obligatoire</span>
        <span class="errorForm" ng-show="!addTform.label.$error.required
                    && (addTform.label.$error.minlength || addTform.label.$error.maxlength)
                    && addTform.label.$dirty"> Le nom doit contenir 3 à 40 caractères.</span>
        <div>
            <label class="addTlabel">Description</label>
            <textarea class="addTinput" type="text" name="description" id="description" ng-model="description"
                      placeholder="Description"
                      ng-minlength="3" ng-maxlength="100" required></textarea>
        </div>
        <span class="errorForm" ng-show="addTform.description.$error.required && addTform.description.$dirty">Champ obligatoire</span>
        <span class="errorForm" ng-show="!addTform.description.$error.required
                    && (addTform.description.$error.minlength || addTform.description.$error.maxlength)
                    && addTform.description.$dirty"> La description doit contenir 3 à 100 caractères.</span>
        <div>
            <label class="addTlabel">Image</label>
            {{subThemeImage.filename}}
            <label class="addTimg">
                <img src="images/upload.png">
                <span ng-if="!subThemeImage">Choisissez un fichier</span>
                <span ng-if="subThemeImage">Modifier le fichier</span>
                <input type="file" ng-model="subThemeImage" accept="image/*" base-sixty-four-input>
            </label>

        </div>
        <button class="button" ng-click="postSubTheme()">Ajouter le sous-thème</button>
    </form>
</div>