<div ng-controller="ThemeListCtrl" ng-init="getThemes()">
    <h1>Gérer les thèmes</h1>
    <h2>Thèmes et sous-thèmes</h2>
    <a href="#/themes/new">Ajouter un thème</a>
    <div ng-repeat="theme in themes">
        <p>{{theme.label}} <a href="#/themes/{{theme.idTheme}}/edit">Éditer le thème</a></p>
        <div ng-repeat="subtheme in theme.subThemes">
            <p>{{subtheme.label}} <a href="#/themes/{{theme.idTheme}}/subthemes/{{subtheme.id}}/edit">Éditer le
                sous-thème</a></p>
        </div>
        <a href="#/themes/{{theme.idTheme}}/subthemes/new">Ajouter un sous-thème</a>
    </div>
</div>