<div ng-include="'views/menu.html'"></div>

<div class="contenuOnline" ng-controller="ThemeListCtrl" ng-init="getThemes()">
    <div class="ThemeListTitre">Thèmes et sous-thèmes en attente de validation</div>
    <div class="ThemeListAttenteValidation">
    <div class="ThemeListTheme" ng-repeat="theme in themes">
            <div class="ThemeListUnTheme ThemeListThemeValide" ng-if="theme.validated">
                <span class="ThemeListImgConteneur">
                <span ng-if="theme.iconUrl == null">
                    <img class="ThemeListImg" ng-src="images/defaultPicture.png"/>
                </span>
                <span ng-if="theme.iconUrl != null">
                    <img class="ThemeListImg" ng-src="{{'data:image/*;base64,'+theme.iconUrl}}"/>
                </span>
                </span>
                <span class="ThemeListNom">{{theme.label}}</span>
            </div>
            <div class="ThemeListUnTheme" ng-if="!theme.validated">
                <span class="ThemeListImgConteneur">
                <span ng-if="theme.iconUrl == null">
                    <img class="ThemeListImg" ng-src="images/defaultPicture.png"/>
                </span>
                <span ng-if="theme.iconUrl != null">
                    <img class="ThemeListImg" ng-src="{{'data:image/*;base64,'+theme.iconUrl}}"/>
                </span>
                </span>
                <span class="ThemeListNom">{{theme.label}}</span>
                <button class="ThemeListBouton" ng-click="validateTheme(theme.idTheme)">
                    <img class="ThemeListIcon" src="images/checked-blanc.png">
                    Valider
                </button>
                <button class="ThemeListBouton" ng-click="refuseTheme(theme.idTheme)">
                    <img class="ThemeListIcon" src="images/cross-blanc.png">
                    Refuser
                </button>
            </div>
            <div class="ThemeListSousTheme" ng-repeat="subtheme in theme.subThemes | filter:{validated:'FALSE'}">
                    <span class="ThemeListImgConteneur">
                    <span ng-if="subtheme.iconUrl == null">
                            <img class="ThemeListImg" ng-src="images/defaultPicture.png"/>
                        </span>
                    <span ng-if="subtheme.iconUrl != null">
                        <img class="ThemeListImg" ng-src="{{'data:image/*;base64,'+subtheme.iconUrl}}"/>
                    </span>
                    </span>
                    <span class="ThemeListNom">{{subtheme.label}}</span>
                    <span ng-show="theme.validated">
                    <button class="ThemeListBouton" ng-click="validateSubTheme(theme.idTheme, subtheme.id)">
                        <img class="ThemeListIcon" src="images/checked-blanc.png">
                        Valider
                    </button>
                    <button class="ThemeListBouton" ng-click="refuseSubTheme(theme.idTheme, subtheme.id)">
                        <img class="ThemeListIcon" src="images/cross-blanc.png">
                        Refuser
                    </button>
                    </span>
                    <span ng-show="!theme.validated">Le thème doit d'abord être validé</span>
                </div>
        </div>
    </div>
    <div class="ThemeListTitre">Thèmes et sous-thèmes validés</div>
    <div class="ThemeListValides">
        <div class="ThemeListUnTheme ThemeListLienAjout">
            <a class="ThemeListUnThemeLink" href="#!/themes/new">
                <img class="ThemeListIcon" src="images/add-vert.png">
                Ajouter un thème
            </a>
        </div>
    <div class="ThemeListTheme" ng-repeat="theme in themes | filter:{validated:'TRUE'}">
        <div class="ThemeListUnTheme">
            <span class="ThemeListImgConteneur">
                <span ng-if="theme.iconUrl == null">
                    <img class="ThemeListImg" ng-src="images/defaultPicture.png"/>
                </span>
                <span ng-if="theme.iconUrl != null">
                    <img class="ThemeListImg" ng-src="{{'data:image/*;base64,'+theme.iconUrl}}"/>
                </span>
                </span>
            <span class="ThemeListNom">{{theme.label}}</span>
            <a class="ThemeListBouton" href="#!/themes/{{theme.idTheme}}/edit">
                <img class="ThemeListIcon" src="images/edit-blanc.png">
                Éditer
            </a>
            <a class="ThemeListBouton" ng-href="" ng-click="deleteTheme(theme.idTheme)">
                <img class="ThemeListIcon" src="images/delete-blanc.png">
                Supprimer
            </a>
        </div>
        <div class="ThemeListSousTheme" ng-repeat="subtheme in theme.subThemes | filter:{validated:'TRUE'}">
                <span class="ThemeListImgConteneur">
                <span ng-if="subtheme.iconUrl == null">
                        <img class="ThemeListImg" ng-src="images/defaultPicture.png"/>
                    </span>
                <span ng-if="subtheme.iconUrl != null">
                        <img class="ThemeListImg" ng-src="{{'data:image/*;base64,'+subtheme.iconUrl}}"/>
                    </span>
                </span>
                <span class="ThemeListNom">{{subtheme.label}}</span>
                <a class="ThemeListBouton" href="#!/themes/{{theme.idTheme}}/subthemes/{{subtheme.id}}/edit">
                    <img class="ThemeListIcon" src="images/edit-blanc.png">
                    Éditer
                </a>
                <a class="ThemeListBouton" ng-href="" ng-click="deleteSubTheme(theme.idTheme, subtheme.id)">
                    <img class="ThemeListIcon" src="images/delete-blanc.png">
                    Supprimer
                </a>
        </div>
        <div ng-show="theme.validated">
            <div class="ThemeListSousTheme ThemeListLienAjout">
                <a class="ThemeListSousThemeLink" href="#!/themes/{{theme.idTheme}}/subthemes/new">
                    <img class="ThemeListIcon" src="images/add-gris.png">
                    Ajouter un sous-thème
                </a>
            </div>
        </div>
    </div>
    </div>
</div>