.ThemeListTitre{
    font-size : 25px;
    font-weight: bolder;
    text-align:center;
    margin-top:25px;
    margin-bottom: 15px;
    color:#287F50;
}

.ThemeListAttenteValidation, .ThemeListValides{
    max-width:800px;
    margin-left:auto;
    margin-right:auto;
}

.ThemeListThemeValide:only-child{
    display:none;
}

.ThemeListUnTheme, .ThemeListUnThemeLink, a.ThemeListUnThemeLink:hover, a.ThemeListUnThemeLink:visited{
    padding:10px 10px 10px 10px;
    font-size:17px;
    color:#287F50;
    font-weight:bold;
}

.ThemeListSousTheme, .ThemeListSousThemeLink, a.ThemeListSousThemeLink:hover, a.ThemeListSousThemeLink:visited{
    font-size:14px;
    color:#707070;
    padding:0px 10px 10px 10px;
    margin-left:50px;
    margin-top:20px;
}


.ThemeListTheme{
    background-color:#F0F1F1;
    margin-bottom:10px;
    border-radius:5px;
}

.ThemeListLienAjout.ThemeListUnTheme{
    padding:5px 5px 5px 5px;
    margin-bottom:10px;
}

.ThemeListImgConteneur{
    display:inline-block;
    width:80px;
    margin-right:20px;
}

.ThemeListImg{
    max-width:80px;
    max-height:80px;
}

.ThemeListNom{
    display:inline-block;
    width:150px;
}

.ThemeListUnTheme .ThemeListBouton{
    display:inline-block;
    color: white;
    background-color: #287F50;
    height:32px;
    padding-left:15px;
    padding-right:15px;
    margin-left:20px;
    border: none;
    text-align:center;
    font-weight: normal;
}

.ThemeListUnTheme .ThemeListBouton:hover {
    background-color: #329D63;
}

.ThemeListSousTheme .ThemeListBouton{
    display:inline-block;
    color: white;
    background-color: #287F50;
    height:30px;
    padding-left:15px;
    padding-right:15px;
    margin-left:20px;
    border: none;
    text-align:center;
}

.ThemeListSousTheme .ThemeListBouton:hover {
    background-color: #329D63;
}

.ThemeListValides .ThemeListUnTheme .ThemeListBouton{
    padding-top:5px;
}

.ThemeListValides .ThemeListSousTheme .ThemeListBouton{
    padding-top:5px;
}

.ThemeListLienAjout:hover{
    text-decoration:underline;
}

.ThemeListIcon{
    margin-right:7px;
}

.ThemeListUnTheme .ThemeListIcon{
    height:17px;
}

.ThemeListSousTheme .ThemeListIcon{
    height:14px;
}