<div ng-include="'views/menu.html'"></div>

<div class="contenuOnline qcmList" ng-controller="listingQCMCtrl" ng-init="filteredSearch()">
    <div class="qcmListFilters">
        <form>
            <div>
                <label for="theme">Theme :</label>
                <input type="text" name="theme" id="theme" ng-model="theme" >
            </div>
            <div >
                <label for="subTheme">Sous-thème :</label>
                <input type="text" name="subTheme" id="subTheme" ng-model="subTheme">
            </div>
            <button ng-click="filteredSearch(theme,subTheme)">Rechercher</button>
            <button ng-click="erase()">Effacer</button>
        </form>
    </div>
    <div class="qcmListContainer">
        <div class="qcmListButtonsNew">
            <a href="#qcms/new"><img src="images/add-vert.png"> Créer un QCM</a>
            <!--<a href=""><img src="images/add-vert.png"> Uploader un QCM</a>-->
        </div>
        <div class="qcmListTitle">Mes QCM</div>
        <div class="qcmListqcm" ng-repeat="qcm in supplierQCM">
            <a href="#qcm/qcmDetail/{{qcm.id}}">
                <span class="qcmListIconContainer" ng-if="qcm.icon == null">
                    <img class="qcmListIcon" ng-src="images/defaultPicture.png"/>
                </span>
                <span class="qcmListIconContainer" ng-if="qcm.icon != null">
                    <img class="qcmListIcon" ng-src="{{'data:image/*;base64,'+qcm.icon}}"/>
                </span>
                <span class="qcmListName">
                    {{qcm.name}}
                </span>
                <span class="qcmListDescription">
                    {{qcm.description}}
                </span>
                <span ng-if="qcm.validated" class="qcmListValide">
                        Validé
                </span>
                <span ng-if="!qcm.validated" class="qcmListValide">
                    <span ng-if="qcm.complete">
                        En attente de validation
                    </span>
                    <span ng-if="!qcm.complete">
                        QCM incomplet
                    </span>
                </span>
            </a>
        </div>
    </div>
</div>