<div ng-controller="listingQCMCtrl" ng-init="">
    <form>
        <div>
            <label for="theme">Theme :</label>
            <input type="text" name="theme" id="theme" ng-model="theme" >
        </div>
        <div >
            <label for="subTheme">Sous-thème :</label>
            <input type="text" name="subTheme" id="subTheme" ng-model="subTheme">
        </div>
        <button ng-click="filteredSearch(theme,subTheme)">Rechercher</button>
        <button ng-click="erase()">Effacer</button>
    </form>
    <div>
        <a href="">Créer un QCM</a>
        <a href="">Uploader un (ou des) QCM(s)</a>
    </div>
    <div>Mes QCM</div>
    <div ng-repeat="qcm in supplierQCM">
        <span >
            {{qcm.name}}
        </span>
        <span >
            {{qcm.description}}
        </span>
        <span ng-if="qcm.validated">
                Validé
        </span>
        <span ng-if="!qcm.validated">
                En attente de validation
        </span>
    </div>
</div>