<div ng-include="'views/menu.html'"></div>

<div class="playQCMContainer">
    <!-- PROGRESS INDICATOR -->
    <div class="progressContainer">
        <label class="qcmTitle">{{qcm.name}}</label>
        <span ng-repeat="answer in answers track by $index">
            <img class="progressCircle" src="images/no_response.png" ng-if="answer===0">
            <img class="progressCircle" src="images/good_response.png" ng-if="answer===2">
            <img class="progressCircle" src="images/bad_response.png" ng-if="answer===1">
        </span>
    </div>
    <!-- QUESTION -->
    <div class="questionContainer">

        <h3>{{question.title}}</h3>
        <!--<span class="questionIcon" ng-if="qcm.icon == null">
            <img ng-src="images/defaultPicture.png"/>
        </span>-->
        <div class="propositionContainer">
            <div>
                <button ng-style="btnResponseStyle" class="proposition" ng-click="respond(question.proposition1)">{{question.proposition1}}</button>
                <button ng-style="btnResponseStyle" class="proposition" ng-click="respond(question.proposition2)">{{question.proposition2}}</button>
            </div>
            <div>
                <button ng-style="btnResponseStyle" class="proposition" ng-click="respond(question.proposition3)">{{question.proposition3}}</button>
                <button ng-style="btnResponseStyle" class="proposition" ng-click="respond(question.proposition4)">{{question.proposition4}}</button>
            </div>
        </div>
    </div>

</div>