<label for="show-menu" class="show-menu">
    <img src="images/eclair vert clair - 48E590.png" />
    Menu
</label>
<input type="checkbox" id="show-menu" role="button">

<nav class="headerInline">
    <a href="#/home"><img class="imageHeaderInline" src="images/eclair vert clair - 48E590.png"/></a>

    <ul  class="menuHeaderInline">
        <li class="lienJoueur lienAccueil"><a href="#/home">Accueil</a></li> <!-- Liste des thèmes, représentés par leur image, accès au sous themes quand on clique sur un theme, puis au qcm.. -->
        <li class="lienJoueur"><a href="#/listTheme">Thèmes</a></li> <!-- Liste des thèmes, représentés par leur image, accès au sous themes quand on clique sur un theme, puis au qcm.. -->
        <li class="lienJoueur"><a href="#/qcms/search">QCM</a></li> <!-- Simple recherche de QCM avec possiblité d'y jouer-->
        <li class="lienJoueur"><a href="#/account">Profil</a></li> <!--comprends les stats, le porte feuille, l'accès à l'édition du profil, à une demande pour devenir fournisseur etc-->
        <!--<li class="lienJoueur"><a href="">Communautés</a></li> &lt;!&ndash; &ndash;&gt;-->
        <li class="lienFournisseur lienAdministrateur"><a href="#/user/getSupplierQCM">Gérer les QCM</a></li> <!--Pour les fournisseurs, ajouter, supprimer modifier les QCM, + acceder au stat par qcm?
                                                    Pour les adminitrateurs : la gestion en general avec ceux en attente, plus vue de tous les qcm-->
        <!--<li class="lienAdministrateur"><a href="">Editer les règlements</a></li>&lt;!&ndash; Uniquement pour les administrateurs &ndash;&gt;-->
        <li class="lienAdministrateur"><a href="#/admin/userList">Gèrer les comptes</a></li><!-- Uniquement pour les administrateurs -->
        <li class="lienAdministrateur"><a href="#/admin/getSupplierRequest">Demandes fournisseurs</a></li><!-- Uniquement pour les administrateurs -->
        <li class="lienAdministrateur"><a href="#/themes">Gérer les thèmes</a></li><!-- Uniquement pour les administrateurs -->
        <li class="lienAdministrateur"><a href="#/admin/qcmManagement">Valider les QCM</a></li><!-- Uniquement pour les administrateurs -->
        <li class="lienAdministrateur"><a href="#/logout">Déconnexion</a></li><!-- Pour tout les utilisateurs -->
    </ul>

</nav>