<div ng-include="'views/menu.html'"></div>

<div class="contenuInline">
    <div class="userListFilters">
        <form>
            <div>
                <label for="username">Login :</label>
                <input type="text" name="username" id="username" ng-model="username" placeholder="Login">
            </div>
            <div >
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" id="lastname" ng-model="lastname" placeholder="Nom">
            </div>
            <div>
                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname" id="firstname" ng-model="firstname" placeholder="Prénom">
            </div>
            <div>
                <label for="mail">E-mail :</label>
                <input type="text" name="mail" id="mail" ng-model="mail" placeholder="E-mail">
            </div>

            <div>
                <label for="playerStatusCbox">Joueur</label>
                <input type="checkbox" id="playerStatusCbox" value="playerStatus" ng-model="playerStatusCbox" ng-init="playerStatusCbox=false">
                <label class="userListFiltersLabelRight" for="supplierStatusCbox">Fournisseur</label>
                <input type="checkbox" id="supplierStatusCbox" value="supplierStatus" ng-model="supplierStatusCbox"  ng-init="supplierStatusCbox=false">
            </div>
            <div>
                <label for="userActiveCbox">Actif</label>
                <input type="checkbox" id="userActiveCbox" value="userActive" ng-model="userActiveCbox" ng-init="userActiveCbox=false">
                <label class="userListFiltersLabelRight" for="userInactiveCbox">Inactif</label>
                <input type="checkbox" id="userInactiveCbox" value="userInactive" ng-model="userInactiveCbox"  ng-init="userInactiveCbox=false">
            </div>
            <button ng-click="search()">Rechercher</button>
            <button ng-click="erase()">Effacer</button>
        </form>
        </div>
    </div>

    <div class="userListModifyContainer">
        <div class="userListModify">
                <div>
                    <label class="userListModifyLabel" for="firstnameModification">Id : </label>
                    {{idModification}}
                </div>
                <div>
                    <label class="userListModifyLabel" for="firstnameModification">Prénom :</label>
                    <input  type="text" name="firstnameModification" id="firstnameModification" ng-model="firstnameModification"/>
                </div>
                <div>
                    <label class="userListModifyLabel" for="lastnameModification">Nom :</label>
                    <input  type="text" name="lastnameModification" id="lastnameModification" ng-model="lastnameModification"/>
                </div>
                <div>
                    <label class="userListModifyLabel"  for="usernameModification">Nom d'utilisateur :</label>
                    <input  type="text" name="usernameModification" id="usernameModification" ng-model="usernameModification"/>
                </div>
                <div>
                    <label class="userListModifyLabel" for="mailModification">E-mail :</label>
                    <input  type="text" name="mailModification" id="mailModification" ng-model="mailModification"/>
                </div>
                <div>
                    <label class="userListModifyLabel" for="birthDate">Date de naissance :</label>
                    <input type="date"  name="birthDate" id="birthDate" ng-model="birthDateModification" placeholder="Date de naissance" required/>
                </div>
               <!-- <div class="radioForm">
                    <label class="userListModifyLabel">Type d'utilisateur :</label>
                    <label class="modificationRadioLabel">Joueur</label>
                    <input class="modificationRadioButton" type="radio" name="userType" ng-model="wannaBeSupplier"
                           ng-checked="wannaBeSupplier==false" value="false"  ng-click="wannaBeSupplier=false; professionalState=true"/>


                    <label class="modificationRadioLabel">Fournisseur</label>
                    <input class="modificationRadioButton" type="radio"  name="userType" ng-model="userType"
                           ng-checked="userType==true" value="true" ng-click="userType=true"/>
                </div>-->

                <div class="radioForm">
                    <label class="userListModifyLabel">Statut compte :</label>
                    <label class="modificationRadioLabel">Actif</label>
                    <input class="modificationRadioButton" type="radio"  name="accountState" ng-model="accountState"
                           ng-checked="accountState==true" value="true"/>


                    <label class="modificationRadioLabel">Inactif</label>
                    <input class="modificationRadioButton" type="radio"  name="accountState" ng-model="accountState"
                           ng-checked="accountState==false" value="false" />
                </div>
                <div ng-show="wannaBeSupplier">
                    <div>
                    <label class="userListModifyLabel">Professionel :</label>
                    <label class="modificationRadioLabel">Oui</label>
                    <input class="modificationRadioButton" type="radio" name="professionalState" ng-model="professionalState"
                           ng-checked="professionalState==false" value="false" ng-click="professionalState=false"/>
                    <label class="modificationRadioLabel">Non</label>
                    <input class="modificationRadioButton" type="radio" name="professionalState" ng-model="professionalState"
                           ng-checked="professionalState==true" value="true" ng-click="professionalState=true" />
                    </div>
                    <div>
                        <label class="userListModifyLabel">Statut compte fournisseur :</label>
                        <label class="modificationRadioLabel" >Valide</label>
                        <input class="modificationRadioButton" type="radio" name="supplierAccountState" ng-model="supplierAccountState"
                               ng-checked="supplierAccountState==true" value="true" />
                        <label class="modificationRadioLabel" >Non-valide</label>
                        <input class="modificationRadioButton" type="radio" name="supplierAccountState" ng-model="supplierAccountState"
                               ng-checked="supplierAccountState==false" value="false" />

                    </div>
                </div>
                <div class="professionalContainer" ng-show="!professionalState">
                    <div>
                        <label class="userListModifyLabel" for="companyNameModification">Nom de l'entreprise :</label>
                        <input  type="text" name="companyNameModification"  ng-model="companyNameModification" id="companyNameModification"/>
                    </div>
                    <div>
                        <label class="userListModifyLabel" for="companyAddressModification">Adresse de l'entreprise :</label>
                        <input  type="text" name="companyAddressModification"  ng-model="companyAddressModification" id="companyAddressModification"/>
                    </div>
                    <div>
                        <label class="userListModifyLabel" for="siretNumberModification">Numéro de siret :</label>
                        <input  type="text" name="siretNumberModification"  ng-model="siretNumberModification" id="siretNumberModification"/>
                    </div>
                </div>
                <button ng-click="update()">Enregistrer les modifications</button>
                <button ng-click="delete()">Supprimer un utilisateur</button>
            </div>

        <div class="finForm checkBoxVerte">
            <input type="checkbox" name="wannaBeSupplier" id="wannaBeSupplier" ng-model="wannaBeSupplier"
                   ng-click="changeStatus()">
            <label for="wannaBeSupplier"><span class="ui"></span>Statut fournisseur</label>
        </div>
    </div>

    <div class="userListResults">
        <label class="userListTitleTable">Liste des utilisateurs</label>
        <label class="userListLabelNumberUsers">Nombre d'utilisateurs par page</label>
        <select class="userListSelect" name="singleSelect" ng-model="pageSize" ng-init="pageSize=5" ng-click="search_(pageSize)">
            <option value="5" ng-selected="true">5</option>
            <option value="10">10</option>
            <option value="15">15</option>
            <option value="20">20</option>
        </select>
        <a class="userListLinkNew" href="#/admin/createAccount">Créer un nouveau compte</a>
        <div class="userListTable">
            <div ultimate-datatable="datatable"/>
        </div>
        <div class="userListPageNumberContainer">
            <label class="userListLabelPageNumber">page </label>
            <button class="userListPageNumber" ng-repeat="i in range.slice(0,repeatCount) track by $index" ng-click="displayPage($index)">
                {{$index+1}}
            </button>
        </div>
    </div>
</div>
