<div class="userListContainer" xmlns="http://www.w3.org/1999/html">
    <div class="filterContainer">
        <form>
            <div class="filterLoginDiv">
                <label for="username">Login :</label>
                <input type="text" name="username" id="username" ng-model="username" placeholder="Login">
            </div>
            <div >
                <label for="lastname">Nom :</label>
                <input type="text" name="lastname" id="lastname" ng-model="lastname" placeholder="Nom">
            </div>
            <div >
                <label for="firstname">Prénom :</label>
                <input type="text" name="firstname" id="firstname" ng-model="firstname" placeholder="Prénom">
            </div>
            <button ng-click="search()">Rechercher</button>
        </form>
    </div>


        <div class="searchContainer">
            <div class="modifyContainer">
                <div class="modifyIdDiv">
                    <label for="firstnameModification">Id : </label>
                    {{idModification}}
                </div>
                <div>
                    <label for="firstnameModification">Prénom :</label>
                    <input  type="text" name="firstnameModification" id="firstnameModification" ng-model="firstnameModification"/>
                </div>
                <div>
                    <label for="lastnameModification">Nom :</label>
                    <input  type="text" name="lastnameModification" id="lastnameModification" ng-model="lastnameModification"/>
                </div>
                <div>
                    <label for="usernameModification">Nom :</label>
                    <input  type="text" name="usernameModification" id="usernameModification" ng-model="usernameModification"/>
                </div>
                <div>
                    <label for="mailModification">E-mail :</label>
                    <input  type="text" name="mailModification" id="mailModification" ng-model="mailModification"/>
                </div>
                <div>
                    <label for="birthDate">Date de naissance :</label>
                    <input type="date"  name="birthDate" id="birthDate" ng-model="birthDateModification" placeholder="Date de naissance" required/>
                </div>
                <div class="radioForm">
                    <label>Type d'utilisateur :</label>
                    <label class="modificationRadioLabel">Joueur</label>
                    <input class="modificationRadioButton" type="radio" name="userType" ng-model="userType"
                           ng-checked="userType==false" value="false"  ng-click="userType=false; professionalState=true"/>


                    <label class="modificationRadioLabel">Fournisseur</label>
                    <input class="modificationRadioButton" type="radio"  name="userType" ng-model="userType"
                           ng-checked="userType==true" value="true" ng-click="userType=true"/>
                </div>

                <div class="radioForm">
                    <label>Statut compte :</label>
                    <label class="modificationRadioLabel">Actif</label>
                    <input class="modificationRadioButton" type="radio"  name="accountState" ng-model="accountState"
                           ng-checked="accountState==true" value="true"/>


                    <label class="modificationRadioLabel">Inactif</label>
                    <input class="modificationRadioButton" type="radio"  name="accountState" ng-model="accountState"
                           ng-checked="accountState==false" value="false" />
                </div>
                <div ng-show="userType">
                    <div>
                    <label>Professionel :</label>
                    <label class="modificationRadioLabel">Oui</label>
                    <input class="modificationRadioButton" type="radio" name="professionalState" ng-model="professionalState"
                           ng-checked="professionalState==false" value="false" ng-click="professionalState=false"/>
                    <label class="modificationRadioLabel">Non</label>
                    <input class="modificationRadioButton" type="radio" name="professionalState" ng-model="professionalState"
                           ng-checked="professionalState==true" value="true" ng-click="professionalState=true" />
                    </div>
                    <div>
                        <label>Statut compte fournisseur :</label>
                        <label class="modificationRadioLabel" >Valide</label>
                        <input class="modificationRadioButton" type="radio" name="supplierAccountState" ng-model="supplierAccountState"
                               ng-checked="supplierAccountState==true" value="true" />
                        <label class="modificationRadioLabel" >Non-valide</label>
                        <input class="modificationRadioButton" type="radio" name="supplierAccountState" ng-model="supplierAccountState"
                               ng-checked="supplierAccountState==false" value="false" />
                    </div>
                </div>
                <div class="professionalContainer" ng-show="!professionalState">
                    <div>
                        <label for="companyNameModification">Nom de l'entreprise :</label>
                        <input  type="text" name="companyNameModification"  ng-model="companyNameModification" id="companyNameModification"/>
                    </div>
                    <div>
                        <label for="companyAddressModification">Adresse de l'entreprise :</label>
                        <input  type="text" name="companyAddressModification"  ng-model="companyAddressModification" id="companyAddressModification"/>
                    </div>
                    <div>
                        <label for="siretNumberModification">Numéro de siret :</label>
                        <input  type="text" name="siretNumberModification"  ng-model="siretNumberModification" id="siretNumberModification"/>
                    </div>
                </div>
                <button ng-click="update()">Enregistrer les modifications</button>
            </div>


        <div class="container-fluid, resultContainer ">
            <select name="singleSelect" ng-model="pageSize" ng-init="pageSize=5">
                <option value="5" ng-selected="true">5</option>
                <option value="10">10</option>
                <option value="15">15</option>
                <option value="20">20</option>
            </select>
            <div class="row">
                <h3 align=center>Rechercher un utilisateur</h3><br>
                <div class="pageNumberContainer">
                    <button ng-repeat="i in range.slice(0,repeatCount) track by $index" ng-click="displayPage($index)">
                        {{$index+1}}
                    </button>
                </div>
                <div class="tableContainer">
                    <div class="col-md-12 col-lg-12" ultimate-datatable="datatable"/>
                </div>
            </div>
        </div>
    </div>

</div>
